* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans";

}

main {
    width: 100%;
}

/* utility */

.display-flex {
    display: flex;
}

.button {
    color: white;
    background-color: blue;
    padding: 10px 10px;
}

a {
    text-decoration: none;
}

.color-black {
    color: black;
}


.margin-top {
    margin-top: 60px;
}

.color-grey {
    color: rgb(220, 220, 220);
}

.font-size {
    font-size: 30px;
}

.color-blu {
    color: blue;
}

.gap {
    gap: 200px;
}

.padding {
    padding: 0px 0px 30px 30px;
}

.position-relative {
    position: relative;
}

.margin-bottom {
    margin-bottom: 40px;
}

.flex-wrap {
    flex-wrap: wrap;
}

.dysplay-column {
    flex-direction: column;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}

.color-white {
    color: white;
}

/* header */

header {
    width: 100%;
    justify-content: space-between;
    padding: 20px 20px;
    align-items: center;
    position: fixed;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid rgb(220, 220, 220);

}

.header-box {
    gap: 40px;
    align-items: center;
}

/* jumbotron */

.jumbotron {
    background-color: rgb(180, 208, 230);
    height: 900px;
    width: 100%;
    justify-content: center;
}

.block-jumbo {
    width: 75%;
    justify-content: center;
    margin-top: 100px;
}

.title-jumbo {
    font-size: 110px;
}

.text-jumbo {
    width: 40%;
    margin-top: 50px;
}

.arrow {
    font-size: 40px;
    margin-top: 140px;
}

.-card-img-jumbo {
    width: 60%;
    margin-top: 70px;
}

.img-jumbo {
    width: 80%;
    margin-top: 40px;
}

/* list price*/

.list-price {
    width: 100%;
    justify-content: center;
    margin-top: 200px;
    border-top: 1px solid rgb(220, 220, 220);
    border-bottom: 1px solid rgb(220, 220, 220);
}

.block-list-price {
    width: 70%;
    margin-top: 50px;
    height: 2000px;
}

.circle-blu {
    border-radius: 50%;
    border: 3px solid blue;
    width: 150px;
    height: 150px;
    font-size: 8px;
    color: white;

}

.circle {
    border-radius: 50%;
    border: 3px solid rgb(220, 220, 220);
    width: 150px;
    height: 150px;
    font-size: 8px;
    color: white;

}

.margin-selector {
    margin: 70px 50px 70px 0px;

}

.size-list-price {
    font-size: 50px;
}

.card-list {
    width: 25%;
    border: 1px solid rgb(220, 220, 220);
    ;
}

.head-list {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(220, 220, 220);
    ;
}

.top-list {
    line-height: 40px;
    padding-left: 30px;
    margin: 30px 0px;
}

.mid-list {
    padding-left: 30px;
    margin: 30px 0px;
}

.margin-list {
    margin-bottom: 20px;

}

.button-list {
    color: white;
    background-color: blue;
    padding: 10px 10px;
    margin-left: 60px
}

#link-underline {
    text-decoration: underline;
}

#line {
    width: 50px;
    border: 1px solid rgb(220, 220, 220);
}

.mid-list-2 {
    line-height: 60px;
    padding-left: 30px;
    margin: 30px 0px;
}

.footer-list {
    line-height: 60px;
    padding-left: 30px;
    margin: 30px 0px;
}

.contact-enterprise {
    width: 100%;
    border: 1px solid rgb(220, 220, 220);
    ;
    margin-top: 10px;

}

.card-contact {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid rgb(220, 220, 220);
    ;
}

.main-contact {
    line-height: 50px;
    margin: 30px 0px 0px 30px;
    padding-bottom: 50px;
}

.position-button {
    position: absolute;
    top: 90px;
    right: 50px;
}

/* trova un partner */

.find-partner {
    width: 100%;
    justify-content: center;
    margin-top: 70px;
}

.card-img-partner {
    width: 50%;
}

.text-partner {
    width: 33%;
    margin-top: 150px;
    margin-left: 50px;

}

.block-partner {
    width: 70%;
}

.button-partner {
    color: black;
    padding: 10px 10px;
    border: 1px solid black;
}

/* gallery */

.disclaimer {
    margin-top: 200px;
    margin-bottom: 100px;
    font-size: 60px;
    padding-left: 380px;

}

.block-gallery {
    width: 70%;
}

.card-gallery {
    width: 30%;
    height: 100px;
    margin-top: 30px;
    margin-right: 30px;
    height: 500px;
    padding-bottom: 20px;
}

.w-img {
    width: 70%
}

.position-scopri {
    padding-left: 380px;
    margin-bottom: 150px;
}

/* footer */

footer {
    background-color: black;
}

li {
    color: white;
}

ul {
    margin-right: 200px;
    list-style: none;
    margin-top: 100px;
    line-height: 40px;
}

.font-li {
    margin-bottom: 20px;
    font-size: 22px;
}

.line {
    width: 20px;
    border: 1px solid white;
    padding-left: 100px;
    margin-top: 100px;
    margin-left: 450px;
}

.language {
    color: rgb(165, 164, 164);
    padding-left: 450px;
    margin-top: 50px;
    padding-bottom: 50px;
}