*{
    padding: 0;
    margin: 0;
    border: border-box;
}

body{
    font-family: "Open Sans";
    max-width: 2500px;

}

main{
    width: 100%;
}

/* utility */

.display-flex{
    display: flex;
}

.botton{
color: white;
background-color: blue;
padding: 5px 10px;
}

a{
    text-decoration: none;
}

.color-black{
    color: black;
}

.flex-wrap{
    flex-wrap: wrap

}

/* header */

header{
    width: 100%;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
}

.header-box{
    gap: 40px;
    align-items: center;
}

 /* jumbotron */

.jumbotron{
    background-color: rgb(180,208,230);
    height: 800px;
    width: 100%;
    justify-content: center;
}

.block-jumbo{
    border: 1px solid black;
    width: 75%;
    justify-content: center;
    margin-top: 100px;
}

.title-jumbo{
font-size: 90px;
width: 80%;
border: 1px solid black;
text-align: center;
align-items: center}

.text-jumbo{
}